/*
Theme Name: Cyberpunk
Theme URI: https://github.com/wakowarner/cyberpunk-wordpress
Author: Wakowarner
Author URI: https://github.com/wakowarner
Description: A cyberpunk wordpress theme.
Version: 1.2
License: GNU GENERAL PUBLIC LICENSE
License URI: (?)
Tags: Put your tags here.
Text Domain: (?)
*/

*{margin:0px;padding:0px;}


a::-moz-selection{background:#00FE00;}
p::-moz-selection{background:#369;}
a::selection{background:#00FE00;}
p::selection{background:#369;}


body{
	background:#000;
    color:#00FE00;
    font-family:monospace;
}
a{
	color:#369;
	text-decoration:none;
	outline:0;
}
img{
    max-width:100%;
}
#wrap{
	width:980px;
	margin:0 auto;
}
/***Header***/
#menu_top nav{
	width:978px;
	border-bottom:1px solid #00FE00;
	border-left:1px solid #00FE00;
	border-right:1px solid #00FE00;
	float:left;
}
#menu_top li{
	float:left;
	margin-right:5px;
	list-style:none;
}
#menu_top a{
	padding:15px;
	display:block;
    -webkit-transition:.6s;
    -moz-transition:.6s;
    -o-transition:.6s;
    -ms-transition:.6s;
}
#menu_top a:hover{
	background:#00FE00;
    color:#000;
    -webkit-transition:0s;
    -moz-transition:0s;
    -o-transition:0s;
    -ms-transition:0s;
}
/***Articles***/
#articles_wrap{
	float:left;
	width:699px;
	margin-top:15px;
	border-right:1px solid #00FE00;
}

.post{
}
.header_article{
}
.header_article a{
	padding:10px 0;
	display:block;
	margin:0 10px;
}
.post p{
	margin:10px;
}
.post ul{
    margin:10px 0 0 30px;
}
.post ol{
    margin:10px 0 0 40px;
}
.post blockquote{
    padding:5px 0;
    margin:0 30px;
    font-size:20px;
}
.post blockquote:before{
    content:'"';
    margin:-5px 0 0 -30px;
    position:absolute;
    font-size:3em;
}
.post blockquote:after{
	content:'"';
	float:right;
	margin:-30px 0 0 0;
    font-size:3em;
}
.post xmp{
    background:#333;
}
.wp-caption{
	width:100% !important;
}
.wp-caption-text{
	background:#333;
	padding:5px;
}
.post img{
	max-width:100%;
	height:auto;
}
#more_area{
	height:39px;
}
.more{
	background:#00FE00;
	float:right;
	padding:10px;
	margin-right:10px;
	display:block;
	color:#000;
	font-weight:bold;
}
.more-link{
	display:none;
}
.search_query{
    color:#369;
}
/***Sidebar***/
#sidebar{
	float:right;
	margin-top:15px;
	width:250px;
}
#search{
	width:240px;
	padding:10px 0 10px 10px;
	background:#00FE00;
	border:none;
    font-family:monospace;
}
#search:focus{
    outline:0;
}
.widget{
    margin-bottom:10px;
	list-style:none;
}
.widget p{
    margin:10px 0;
}
.widget li{
    list-style:none;
}
/***Footer***/
#footer_site{
    width:980px;
    clear:both;
    padding:10px 0;
}
#footer_site p{
    text-align:center;
}
/* ************ Smartphones - Todos (portrait y landscape) *************** */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 980px) {
/* Estilos */
	*{border:none;}
	a, p{
		font-size:15px;
	}
	#wrap{
		width:95%;
	}
	#banner_site{
		display:none;
	}
	#menu_top nav{
		width:100%;
		border:none;
	}
	#menu_top li{
		width:45%;
	}
	#menu_top a{
		width:100%;
		padding:15px 0 !important;
		text-align:center;
		background:#00FE00;
		color:#000;
	}
	#articles_wrap{
		width:100%;
		border:none;
	}
	.more{
		width:95%;
		float:none;
	}
	#sidebar{
		width:100%;
	}
	#search{
		width:97%;
	}
	.widget li{
		width:100%;
		text-align:center;
	}
	.widget a{
		display:block;
		padding:15px 0;	
	}
	#footer_site{
		width:100%;
	}
	#footer_site p{
		text-align:center;
	}
}
